{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script>
	{% include "templates/includes/integrations/moka/form.js" %}
	var moka_gateway = new frappe.integration_service.moka_gateway();
	moka_gateway.form('{{request_name}}', true);
</script>
{% endblock %}

{%- block page_content -%}
<div id="authorizenet-sa-form">
	{% include "templates/includes/integrations/moka/checkout_form.html" with context %}
</div>
{% endblock %}

{% block style %}
<style>
	header, footer {
		display: none;
	}
	{% include "templates/includes/integrations/moka/css/checkout.css" %}
</style>
{% endblock %}
